@model IEnumerable<corretaje.Clases.NuevoEstado>

<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <th>RUT</th>
        <th>MENSAJE</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mensaje)
        </td>
    </tr>
}
</table>
